ChinaPay.B3B.Service.ExternalPlatform/Web References/_51bookManualPay/GetPaymentUrlServiceImpl_1_0Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://getpaymenturl.b2b.service.version1_0.webservice.model.ltips.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="GetPaymentUrlServiceImpl_1_0Service" targetNamespace="http://getpaymenturl.b2b.service.version1_0.webservice.model.ltips.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://getpaymenturl.b2b.service.version1_0.webservice.model.ltips.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="getPaymentUrl" type="tns:getPaymentUrl" />
      <xs:element name="getPaymentUrlReply" type="tns:getPaymentUrlReply" />
      <xs:element name="getPaymentUrlResponse" type="tns:getPaymentUrlResponse" />
      <xs:complexType name="getPaymentUrl">
        <xs:sequence>
          <xs:element minOccurs="0" name="request" type="tns:getPaymentUrlRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getPaymentUrlRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractLiantuoRequest">
            <xs:sequence>
              <xs:element minOccurs="0" name="orderNo" type="xs:string" />
              <xs:element minOccurs="0" name="param1" type="xs:string" />
              <xs:element minOccurs="0" name="param2" type="xs:string" />
              <xs:element minOccurs="0" name="param3" type="xs:string" />
              <xs:element minOccurs="0" name="param4" type="xs:string" />
              <xs:element minOccurs="0" name="payBank" type="xs:string" />
              <xs:element minOccurs="0" name="payType" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="abstractLiantuoRequest" abstract="true">
        <xs:sequence>
          <xs:element minOccurs="0" name="agencyCode" type="xs:string" />
          <xs:element minOccurs="0" name="sign" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getPaymentUrlResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:getPaymentUrlReply" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getPaymentUrlReply">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractLiantuoReply">
            <xs:sequence>
              <xs:element minOccurs="0" name="param1" type="xs:string" />
              <xs:element minOccurs="0" name="param2" type="xs:string" />
              <xs:element minOccurs="0" name="param3" type="xs:string" />
              <xs:element minOccurs="0" name="param4" type="xs:string" />
              <xs:element minOccurs="0" name="paymentUrl" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="abstractLiantuoReply" abstract="true">
        <xs:sequence>
          <xs:element minOccurs="0" name="returnCode" type="xs:string" />
          <xs:element minOccurs="0" name="returnMessage" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getPaymentUrl">
    <wsdl:part name="parameters" element="tns:getPaymentUrl" />
  </wsdl:message>
  <wsdl:message name="getPaymentUrlResponse">
    <wsdl:part name="parameters" element="tns:getPaymentUrlResponse" />
  </wsdl:message>
  <wsdl:portType name="GetPaymentUrlService_1_0">
    <wsdl:operation name="getPaymentUrl">
      <wsdl:input name="getPaymentUrl" message="tns:getPaymentUrl" />
      <wsdl:output name="getPaymentUrlResponse" message="tns:getPaymentUrlResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetPaymentUrlServiceImpl_1_0ServiceSoapBinding" type="tns:GetPaymentUrlService_1_0">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getPaymentUrl">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getPaymentUrl">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getPaymentUrlResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetPaymentUrlServiceImpl_1_0Service">
    <wsdl:port name="GetPaymentUrlServiceImpl_1_0Port" binding="tns:GetPaymentUrlServiceImpl_1_0ServiceSoapBinding">
      <soap:address location="http://wstest.51book.com:55779/ltips/services/getPaymentUrlService1.0" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>