ChinaPay.B3B.Service.ExternalPlatform/Web References/_51bookAutoPay/PayServiceImpl_1_0Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pay.b2b.service.version1_0.webservice.model.ltips.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="PayServiceImpl_1_0Service" targetNamespace="http://pay.b2b.service.version1_0.webservice.model.ltips.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://pay.b2b.service.version1_0.webservice.model.ltips.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="pay" type="tns:pay" />
      <xs:element name="payReply" type="tns:payReply" />
      <xs:element name="payResponse" type="tns:payResponse" />
      <xs:element name="request" type="tns:payRequest" />
      <xs:complexType name="pay">
        <xs:sequence>
          <xs:element minOccurs="0" name="request" type="tns:payRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="payRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractLiantuoRequest">
            <xs:sequence>
              <xs:element minOccurs="0" name="orderNo" type="xs:string" />
              <xs:element minOccurs="0" name="param1" type="xs:string" />
              <xs:element minOccurs="0" name="param2" type="xs:string" />
              <xs:element minOccurs="0" name="param3" type="xs:string" />
              <xs:element minOccurs="0" name="param4" type="xs:string" />
              <xs:element minOccurs="0" name="param5" type="xs:string" />
              <xs:element minOccurs="0" name="payType" type="xs:string" />
              <xs:element minOccurs="0" name="payerLoginName" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="abstractLiantuoRequest" abstract="true">
        <xs:sequence>
          <xs:element minOccurs="0" name="agencyCode" type="xs:string" />
          <xs:element minOccurs="0" name="sign" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="payResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:payReply" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="payReply">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractLiantuoReply">
            <xs:sequence>
              <xs:element minOccurs="0" name="orderNo" type="xs:string" />
              <xs:element minOccurs="0" name="orderStatus" type="xs:string" />
              <xs:element minOccurs="0" name="param1" type="xs:string" />
              <xs:element minOccurs="0" name="param2" type="xs:string" />
              <xs:element minOccurs="0" name="param3" type="xs:string" />
              <xs:element minOccurs="0" name="param4" type="xs:string" />
              <xs:element minOccurs="0" name="param5" type="xs:string" />
              <xs:element minOccurs="0" name="paymentInfo" type="tns:wsPaymentInfo" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="abstractLiantuoReply" abstract="true">
        <xs:sequence>
          <xs:element minOccurs="0" name="returnCode" type="xs:string" />
          <xs:element minOccurs="0" name="returnMessage" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="wsPaymentInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="param1" type="xs:string" />
          <xs:element minOccurs="0" name="param2" type="xs:string" />
          <xs:element minOccurs="0" name="param3" type="xs:string" />
          <xs:element minOccurs="0" name="param4" type="xs:string" />
          <xs:element minOccurs="0" name="payTime" type="xs:string" />
          <xs:element minOccurs="0" name="payTradeNo" type="xs:string" />
          <xs:element minOccurs="0" name="payType" type="xs:string" />
          <xs:element minOccurs="0" name="payerAccount" type="xs:string" />
          <xs:element minOccurs="0" name="paymentUrl" type="xs:string" />
          <xs:element minOccurs="0" name="totalAirportTax" type="xs:double" />
          <xs:element minOccurs="0" name="totalFuelTax" type="xs:double" />
          <xs:element minOccurs="0" name="totalPay" type="xs:double" />
          <xs:element minOccurs="0" name="totalTicketPrice" type="xs:double" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="payResponse">
    <wsdl:part name="parameters" element="tns:payResponse" />
  </wsdl:message>
  <wsdl:message name="pay">
    <wsdl:part name="parameters" element="tns:pay" />
  </wsdl:message>
  <wsdl:portType name="PayService_1_0">
    <wsdl:operation name="pay">
      <wsdl:input name="pay" message="tns:pay" />
      <wsdl:output name="payResponse" message="tns:payResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PayServiceImpl_1_0ServiceSoapBinding" type="tns:PayService_1_0">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="pay">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="pay">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="payResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PayServiceImpl_1_0Service">
    <wsdl:port name="PayServiceImpl_1_0Port" binding="tns:PayServiceImpl_1_0ServiceSoapBinding">
      <soap:address location="http://wstest.51book.com:55779/ltips/services/payService1.0" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>